/* CSS files add styling rules to your content */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: purple;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.nav a {
  color: white;
  text-decoration: none;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.pic {
  width: 20%;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: purple;
}

p {
  color: white;
}

.cenDisplay {
  text-align: center;
  margin: auto;
  padding: 15px;
}

.links{
  display:flex; 
  justify-content:center
}

.cenIMG{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.template{
  background-color: white;
  margin: 10%;
}