/* CSS files add styling rules to your content */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: purple;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.nav a {
  color: white;
  text-decoration: none;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.pic {
  width: 20%;
  margin: 5%;
}

.intro {
  margin-left: 5%;
}

.me {
    margin-left: 7%;
}

.box {
  background-color: black;
  padding: 2%;
}

body {
  background-color: #1a001e;
}

h1 {
  color: white;
}

h2 {
  color: purple;
}

p {
  color: white;
}

.cenDisplay {
  text-align: center;
  margin: auto;
  padding: 15px;
}

.links {
  display: flex;
  justify-content: center;
}

.cenIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.template {
  background-color: white;
  margin: 9%;
  padding: 3%;
  border: 8px ridge purple;
}

.template p {
  color: black;
}

.resume {
  width: 50%;
}

